<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#smartUPS</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>#EnableC4</key>
			<false/>
			<key>#NoOemTableId</key>
			<false/>
			<key>#PluginType</key>
			<integer>0</integer>
			<key>#DoubleFirstState</key>
			<true/>
			<key>#EnableC2</key>
			<false/>
			<key>PluginType</key>
			<string>1</string>
			<key>#MaxMultiplier</key>
			<integer>12</integer>
			<key>#DropOem</key>
			<true/>
			<key>#EnableC6</key>
			<true/>
			<key>#MinMultiplier</key>
			<integer>8</integer>
			<key>#C3Latency</key>
			<string>0x03E7</string>
			<key>#UnderVoltStep</key>
			<integer>1</integer>
			<key>#PLimitDict</key>
			<integer>1</integer>
			<key>#NoDynamicExtract</key>
			<false/>
			<key>#UseSystemIO</key>
			<false/>
			<key>#EnableC7</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>#APLF</key>
				<false/>
				<key>PluginType</key>
				<true/>
				<key>#PluginType</key>
				<false/>
				<key>PStates</key>
				<true/>
				<key>#APSN</key>
				<false/>
				<key>CStates</key>
				<true/>
			</dict>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>FixHeaders</key>
		<true/>
		<key>AutoMerge</key>
		<false/>
		<key>#ResetAddress</key>
		<string>0x64</string>
		<key>#ResetValue</key>
		<string>0xFE</string>
		<key>DropTables</key>
		<array>
			<dict>
				<key>TableId</key>
				<string>CpuPm</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>Cpu0Ist</string>
				<key>#Length</key>
				<integer>720</integer>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
		</array>
		<key>#PatchAPIC</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>PNLF_UID</key>
			<string>0x0A</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FEcaT0lOSQ==</data>
					<key>Replace</key>
					<data>FEcaWklOSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>INIT: OINIT to ZINI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>hkJBVDA=</data>
					<key>Replace</key>
					<data>hkJBVFg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Battery: BAT0 to BATX</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNfX0hXQUM=</data>
					<key>Replace</key>
					<data>RUNfX1hXQUM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Battery: Change HWAC to XWAC EC reads</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WlBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>S3 Sleep: GRPW to ZRPW</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>S3 Sleep: _WAK to ZWAK(1,S)</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUw==</data>
					<key>Replace</key>
					<data>WlBUUw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>S3 Sleep: _PTS to ZPTS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0lOSQ==</data>
					<key>Replace</key>
					<data>WElOSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Thunderbolt 3: RP09._INI to RP09.XINI for ICM disable</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FENHTlRGWQk=</data>
					<key>Replace</key>
					<data>FENHWFRGWQk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Thunderbolt 3: NTFY to XTFY</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FEIQX1BTMAg=</data>
					<key>Replace</key>
					<data>FEIQWFBTMAg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>XHC1: _PS0 to XPS0</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>FEY/X1BTMwg=</data>
					<key>Replace</key>
					<data>FEY/WFBTMwg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>XHC1: _PS3 to XPS3</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BTMA==</data>
					<key>Replace</key>
					<data>WFBTMA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Thunderbolt 3: RP09:_PS0 to RP09:XPS0</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BTMw==</data>
					<key>Replace</key>
					<data>WFBTMw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Thunderbolt 3:  RP09:_PS3 to RP09:XPS3</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1VQQw==</data>
					<key>Replace</key>
					<data>WFVQQw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>XHC1: _UPC to XUPC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>JV9DUlM=</data>
					<key>Replace</key>
					<data>JVhDUlM=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>HPET _CRS to XCRS Rename</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>IgABeQA=</data>
					<key>Replace</key>
					<data>IgAAeQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>RTC IRQ 8 Patch</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>IgEAeQA=</data>
					<key>Replace</key>
					<data>IgAAeQA=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>TIMR IRQ 0 Patch</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixIDE</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>AddPNLF</key>
				<true/>
				<key>FixLAN</key>
				<false/>
				<key>FixS3D</key>
				<false/>
				<key>FixRegions</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>AddDTGP</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixMutex</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
			</dict>
			<key>#Rtc8Allowed</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
			<key>#SuspendOverride</key>
			<false/>
		</dict>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT-3.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
		</array>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>XMPDetection</key>
		<integer>1</integer>
		<key>NeverHibernate</key>
		<false/>
		<key>Arguments</key>
		<string>rtcfx_exclude=80-AB</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>NeverDoRecovery</key>
		<true/>
		<key>CustomLogo</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>StrictHibernate</key>
		<false/>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>RtcHibernateAware</key>
		<false/>
		<key>#DefaultLoader</key>
		<string>EFI</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>#LegacyBiosDefaultEntry</key>
		<integer>0</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#KbdPrevLang</key>
		<false/>
		<key>#Language</key>
		<string>ru:0</string>
		<key>#Hide</key>
		<array>
			<string>Macintosh SSD</string>
		</array>
		<key>#CustomIcons</key>
		<false/>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>ShowOptimus</key>
		<false/>
		<key>ScreenResolution</key>
		<string>4096×2160</string>
		<key>Theme</key>
		<string>Clovy</string>
		<key>#Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Speed</key>
			<integer>2</integer>
			<key>Mirror</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Tool</key>
			<true/>
			<key>Legacy</key>
			<false/>
		</dict>
		<key>#ConsoleMode</key>
		<string>0</string>
		<key>Timezone</key>
		<integer>3</integer>
		<key>EmbeddedThemeType</key>
		<string>Daytime</string>
		<key>PlayAsync</key>
		<false/>
		<key>#TextOnly</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<true/>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#TurboDisable</key>
		<true/>
		<key>#TDP</key>
		<integer>95</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>#Type</key>
		<string>0x0201</string>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
		</dict>
		<key>#SetIntelMaxBacklight</key>
		<true/>
		<key>#ForceHPET</key>
		<false/>
		<key>UseIntelHDMI</key>
		<false/>
		<key>#DisableFunctions</key>
		<string>0x18F6</string>
		<key>HDMIInjection</key>
		<false/>
		<key>LANInjection</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>21</integer>
		</dict>
		<key>#NoDefaultProperties</key>
		<true/>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>complete-modeset-framebuffers</key>
				<data>AAAAAAAAAAE=</data>
				<key>AAPL,ig-platform-id</key>
				<data>AADAhw==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>device-id</key>
				<data>wIcAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>complete-modeset</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
		<key>#FakeID</key>
		<dict>
			<key>#WIFI</key>
			<string>0x0030168C</string>
			<key>#IntelGFX</key>
			<string>0x01668086</string>
			<key>#LAN</key>
			<string>0x100E8086</string>
			<key>#SATA</key>
			<string>0x26818086</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#ATI</key>
			<string>0x67501002</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#XHCI</key>
			<string>0x0</string>
		</dict>
		<key>#IntelMaxValue</key>
		<string>0x710</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#NvidiaNoEFI</key>
		<false/>
		<key>#ig-platform-id</key>
		<string>0x01620005</string>
		<key>#Connectors</key>
		<array/>
		<key>#PatchVBios</key>
		<false/>
		<key>#VRAM</key>
		<integer>1024</integer>
		<key>#FBName</key>
		<string>Makakakakala</string>
		<key>#RadeonDeInit</key>
		<true/>
		<key>#PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Replace</key>
				<data>gAeoAjgE</data>
				<key>Find</key>
				<data>gAeoAqAF</data>
			</dict>
		</array>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
		</dict>
		<key>EDID</key>
		<dict>
			<key>#HorizontalSyncPulseWidth</key>
			<string>0x11</string>
			<key>#ProductID</key>
			<string>0x9221</string>
			<key>#VideoInputSignal</key>
			<string>0xA1</string>
			<key>#Custom</key>
			<data>AP///////wAGECGSAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAABAQEBAQEBAQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCEHzAgIFYAS88QAAAAAAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1IZYSq/wIBCiAgAJo=</data>
			<key>#VendorID</key>
			<string>0x1006</string>
			<key>#Inject</key>
			<true/>
		</dict>
		<key>#display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>#LoadVBios</key>
		<false/>
		<key>#NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>#NvidiaSingle</key>
		<false/>
		<key>#NvidiaGeneric</key>
		<true/>
		<key>#VideoPorts</key>
		<integer>2</integer>
		<key>#DualLink</key>
		<integer>0</integer>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelLapic</key>
		<false/>
		<key>PanicNoKextDump</key>
		<true/>
		<key>#ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\AMD6000Controller.kext</string>
			<string>\System\Library\Extensions\AMDFramebuffer.kext</string>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>MaskReplace</key>
				<data>AAAAAP8A</data>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MaskFind</key>
				<data>////////</data>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel</string>
				<key>Disabled</key>
				<true/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>MatchOS</key>
				<string>10.13</string>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>/wAA////////////</data>
				<key>Find</key>
				<data>6AAA//+DAAAAAAAA</data>
				<key>MaskFind</key>
				<data>/wAA////AAAAAP//</data>
				<key>Comment</key>
				<string>Lapic panic patch example</string>
				<key>RangeFind</key>
				<integer>200</integer>
				<key>Disabled</key>
				<true/>
				<key>MaskStart</key>
				<data>/////wA=</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Replace</key>
				<data>6AAA//8xwJCQkJCQ</data>
				<key>StartPattern</key>
				<data>ACnHeAAx241H+oM=</data>
			</dict>
			<dict>
				<key>MaskReplace</key>
				<data>/wAA////////////</data>
				<key>Find</key>
				<data>6AAA//+DAAAAAAAA</data>
				<key>MaskFind</key>
				<data>/wAA////AAAAAP//</data>
				<key>Comment</key>
				<string>Symbolic patch example got lapic panic</string>
				<key>RangeFind</key>
				<integer>200</integer>
				<key>Disabled</key>
				<true/>
				<key>Procedure</key>
				<string>_lapic_interrupt</string>
				<key>MaskStart</key>
				<data>/////wA=</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Replace</key>
				<data>6AAA//8xwJCQkJCQ</data>
				<key>StartPattern</key>
				<data>ACnHeAAx241H+oM=</data>
			</dict>
		</array>
		<key>EightApple</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>AppleRTC</key>
		<false/>
		<key>#KextsToPatch</key>
		<array>
			<dict>
				<key>MaskReplace</key>
				<data>/////wAAAAAAAAA=</data>
				<key>Find</key>
				<data>SGVhZHBob25lcwA=</data>
				<key>Name</key>
				<string>VoodooHDA</string>
				<key>Disabled</key>
				<true/>
				<key>Replace</key>
				<data>VGVsZXBob25lcwA=</data>
			</dict>
			<dict>
				<key>Find</key>
				<string>0x04020000</string>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<string>0x44220000</string>
				<key>Comment</key>
				<string>Patch_to_not_load_this_driver</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Comment</key>
				<string>Make all drives to be internal</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>QVBQTEUgU1NEAA==</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAA==</data>
				<key>Comment</key>
				<string>TRIM function for non-Apple SSDs</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>AAQAAAQDAAAAAQAAIQMCBAQAAAAUAgAAAAEAAAAABAMQAAAAEAAAAAABAAAAAAAB</data>
				<key>Name</key>
				<string>AMD6000Controller</string>
				<key>Disabled</key>
				<false/>
				<key>Replace</key>
				<data>BAAAABQCAAAAAQAAAAAEBAAEAAAEAwAAAAEAABECAQUAAAAAAAAAAAAAAAAAAAAA</data>
				<key>Comment</key>
				<string>ATI Connector patch new way</string>
				<key>MatchOS</key>
				<string>10.9,10.10,10.11</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>SEQgNnh4eA==</data>
				<key>Name</key>
				<string>AMD6000Controller</string>
				<key>Disabled</key>
				<false/>
				<key>Replace</key>
				<data>SEQgNjQ1MA==</data>
				<key>Comment</key>
				<string>ATI name HD xxxx -&gt; HD6450</string>
				<key>MatchOS</key>
				<string>10.12,10.13</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>VUiJ</data>
				<key>MaskFind</key>
				<data>AAAA</data>
				<key>Comment</key>
				<string>Violet strips</string>
				<key>RangeFind</key>
				<integer>10</integer>
				<key>Disabled</key>
				<false/>
				<key>Procedure</key>
				<string>TestVRAM</string>
				<key>Name</key>
				<string>com.apple.kext.AMDSupport</string>
				<key>Replace</key>
				<data>sAHD</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<true/>
		<key>#ATIConnectorsPatch</key>
		<string>040000001402000000010000000004040004000004030000000100001102010500000000000000000000000000000000</string>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>#BootPatches</key>
		<array>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Disabled</key>
				<true/>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Comment</key>
				<string>Example</string>
				<key>MatchOS</key>
				<string>All</string>
			</dict>
		</array>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>#ATIConnectorsController</key>
		<string>6000</string>
		<key>#ATIConnectorsData</key>
		<string>000400000403000000010000210302040400000014020000000100000000040310000000100000000001000000000001</string>
		<key>Debug</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x00</string>
		<key>MLB</key>
		<string>C02032109R5DC771H</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF426</string>
		<key>Board-ID</key>
		<string>Mac-827FB448E656EC26</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>BoardVersion</key>
		<string>MacBookPro15,2</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x9</string>
		<key>BiosVersion</key>
		<string>MBP152.88Z.F000.B00.2101062036</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02846104QXJH4RJA</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,2</string>
		<key>SmUUID</key>
		<string>87F78C94-9E1E-44C2-9368-5D5BF1C35F88</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1554.80.3.0.0</string>
		<key>SerialNumber</key>
		<string>C02XPYYJJHCC</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>01/06/2021</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#NvidiaWeb</key>
		<false/>
		<key>#BacklightLevel</key>
		<string>0x0501</string>
		<key>InjectSystemID</key>
		<true/>
		<key>#CustomUUID</key>
		<string>511CE201-1000-4000-9999-010203040506</string>
		<key>#NoCaches</key>
		<false/>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>DisableSingleUser</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableRtcChecksum</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>DisableIoMapper</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>PowerTimeoutKernelPanic</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>XhciPortLimit</key>
		<true/>
	</dict>
	<key>#DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>VBoxExt4</string>
	</array>
</dict>
</plist>